<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if auth_user_signed_in? %>
<%= link_to 'To the world', '/world' %><br>
<%= link_to "ログアウト", destroy_auth_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_auth_user_session_path %>
<% end %>